:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scrollbar-width: thin;
    overflow-y: scroll;
}

li {
    p {
        color: #E4E7E5;
    }
    p:hover {
        color: #B59E6D;
        background-color: #2A2F2C;
    }
}