:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scrollbar-width: thin;
    overflow-y: scroll;
}

.Navbar p:hover {
    transition: 0.2s;
    color: #daa520;
}